body {
  font-family: Arial;
}

.center {
  width: 250px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar {
  display: flex;
  gap: 10px;
  margin: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
